.todo-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.form-text {
  height: 100px;
  width: 200px;
  padding: 20px;
  border: 2px solid gray;
  border-radius: 10px;
}

.form-btn-cont {
  display: flex;
  gap: 10px;
}

.btn {
  height: 40px;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px;
  border: none;
}

.btn:hover {
  cursor: pointer;
  outline: 2px solid lightgray;
}

.btn-confirm {
  background-color: black;
  color: white;
}

.btn-confirm:hover {
  background-color: #303030;
}

.btn-cancel {
  background-color: white;
  color: black;
}

.btn-cancel:hover {
  background-color: black;
  color: white;
}
