.todo-item {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border: 1px solid black;
  border-radius: 10px;
}

.todo-icon {
  font-weight: bold;
  appearance: none;
  outline: none;
  background: none;
  border: none;
}

.todo-icon:hover {
  cursor: pointer;
  color: #303030;
}

.todo-item.completed .todo-icon {
  color: gray;
}

.todo-item.completed .todo-text {
  color: gray;
  text-decoration: line-through;
}
