.todo-add-button {
  position: fixed;
  height: 40px;
  background-color: black;
  color: white;
  font-weight: bold;
  right: 480px;
  bottom: 300px;
  border-radius: 10px;
  padding: 10px;
  border: none;
}

.todo-add-button:hover {
  cursor: pointer;
  outline: 2px solid lightgray;
  background-color: #303030;
}
