.modal {
  position: sticky;
  background-color: rgb(255, 255, 255);
  height: 30vh;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #707070;
}
