.todo-item-skeleton {
  list-style: none;
  padding: 16px;
  background-color: #ddd;
  overflow: hidden;
  position: relative;
  border: none;
  border-radius: 10px;

  display: block;
  height: 16px;

  background-image: linear-gradient(
    90deg,
    #e0e0e0 25%,
    #f5f5f5 37%,
    #e0e0e0 63%
  );
  background-size: 400% 100%;
  animation: skeleton-loading 1.4s infinite linear;
}

@keyframes skeleton-loading {
  0% {
    background-position: -100px;
  }
  100% {
    background-position: -100% 0;
  }
}
