.todo-app {
  display: flex;
  flex-direction: column;
  width: 40lvw;
  height: 70lvh;
  padding: 30px;
  position: relative;
  z-index: 1;
}

#modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
